@section css{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/registrazione.css")" />
}

@section script{
    <script src="@Url.Content("~/script/Registrazione.js")"></script>
}

    <form name="registrazione "id="container">
        <h2>Registrazione</h2>
        <hr/>
            PRIVATO
            <input type="radio" name="profilo" id="radio-privato" checked="checked" onclick="ShowForm()"/>
            AZIENDA
            <input type="radio" name="profilo" id="radio-azienda" onclick="ShowForm()" />
        <div id="privato">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="input-nome" value="" /><br />
            <label for="cognome">Cognome:</label>
            <input type="text" name="cognome" id="input-cognome" value="" /><br />
            <label for="e-mail">E-mail:</label>
            <input type="text" name="e-mail" id="input-p-mail" value="" /><br />
            <label for="password">Password:</label>
            <input type="password" name="password" id="input-p-password" value="" /><br />
            <label for="confpass">Conferma Password:</label>
            <input type="password" name="confpass" id="input-p-confpass" value="" /><br />
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" id="input-p-telefono" value="" /><br />
            <label for="dataNascita">Data di Nascita:</label>
            <input type="date" name="dataNascita" id="input-dataNascita" value="" /><br /><br />
            <label for="notifiche">Abilita Notifiche</label>
            <input type="checkbox" name="notifiche" id="input-notifica" /><br />
            <label for="privacy">Accetta il contratto sulla privacy</label>
            <input type="checkbox" name="privacy" id="input-p-privacy" /><br />
            <br /><br />
        </div>

        <div id="azienda">
            <label for="nomeAzienda">Nome Azienda:</label>
            <input type="text" name="nomeAzienda" id="input-nomeAzienda" value="" /><br />
            <label for="e-mail">E-mail:</label>
            <input type="text" name="e-mail" id="input-a-mail" value="" /><br />
            <label for="password">Password:</label>
            <input type="password" name="password" id="input-a-password" value="" /><br />
            <label for="confpass">Conferma Password:</label>
            <input type="password" name="confpass" id="input-a-confpass" value="" /><br />
            <label for="telefono">Telefono:</label>
            <input type="text" name="telefono" id="input-a-telefono" value="" /><br />
            <label for="iva">Partita Iva:</label>
            <input type="text" name="iva" id="input-iva" value="" /><br /><br />
            <label for="privacy">Accetta il contratto sulla privacy</label>
            <input type="checkbox" name="privacy" id="input-a-privacy" /><br />
            <br/><br/>
        </div>
        <input type="submit" name="registra" id="submit" value="Registra" />
        <input type="submit" name="annulla" id="cancel" value="Annulla" /><br />

    </form>
