:root {
    --footer_height: 200px;
    --filters_width: 20%;
    --menu_height: 100px;
    --main_color: rgb(255, 80, 80);
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
#wrapper {
    width: 100%;
    margin-bottom: var(--footer_height);
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--footer_height);
    width: 100%;
    overflow:hidden;
    background-color: rgb(255, 153, 102);
}

#menu {
    background-color: var(--main_color);
    width: 100%;
    height: var(--menu_height);
    box-shadow: 0 2px 2px 1px black;
}
#filters {
    float: left;
    width: var(--filters_width);
    background-color: var(--main_color);
    box-shadow: 2px 3px 2px 1px black;
}
#form-filters {
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}
#map-wrapper {
    margin: 10px;
    width: 250px;
    height: 250px;
    border: 1px solid grey;
}

.menu-item {
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(60, 60, 60, 0.6);
    margin-top: 10px;
    margin-left: 50px;
    padding: 10px;
    float:left;
}
