:root {
    --filters_width: 20%;
    --filters_bg_color: rgb(243, 243, 243);
}

#filters-container {
    float: left;
    width: var(--filters_width);
    background-color: var(--filters_bg_color);
    border-right: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
}

#form-filters {
    color: var(--footer_color);
    margin: 10px;
    padding: 10px;
    text-align: justify
}

#o-map-wrapper, #g-map-wrapper {
    margin: auto;
    width: 250px;
    height: 250px;
    border: 1px solid grey;
}

.form-input, #form-filters > label {
    margin-top: 10px;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 16px;
    transition: 0.2s;
}

select.form-input {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.form-input:focus {
    box-shadow: 0 0 5px 1px var(--menu_bg_color);
}
