/* Variables */

:root {
    --menu_height: 80px;
    --menu_bg_color: rgb(255, 153, 0);
    --logo_width: 250px;
    --footer_color: rgb(26, 33, 39);
    --footer_height: 200px;
}

/* Globals and footer */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#wrapper {
    width: 100%;
    margin-bottom: var(--footer_height);
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--footer_height);
    width: 100%;
    overflow: hidden;
    background-color: var(--footer_color);
}

/* Menu */

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: var(--menu_height);
    padding: 0;
    background-color: rgba(255, 145, 0, 0.918);
    box-shadow: 0 2px 5px 1px rgb(190, 190, 190);
}

.menu-item {
    height: calc(var(--menu_height) / 2);
    margin-top: calc(var(--menu_height) / 2);
    float: left;

    color: white;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 22px;
    text-shadow: 1px 1px rgb(190, 190, 190);
}

.menu-item#logo {
    height: var(--menu_height);
    width: var(--logo_width);
    margin: 0;
}

.menu-item#annunci {
    margin-left: 100px;
}

.menu-item#profilo {
    margin-left: 50px;
}

.menu-item#lang {
    float:right
}