<!DOCTYPE html>
<html>
    <head>
        <title>Abita # login</title>

        <meta charset="UTF-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="css/layout.css"/>
        <link type="text/css" rel="stylesheet" href="css/form.css"/>
        <link type="text/css" rel="stylesheet" href="css/ol.css"/>
    </head>
    <body>
        <div id="wrapper">
            <div id="menu">
                <div id="logo" class="menu-item"><img src="img/logo.png" alt="logo" title="Abita sharp" /></div>
                <div class="menu-item">Registrati</div>
                <div id="lang" class="menu-item">
                    <img src="img/italy.png" width="30px" alt="italiano" height="30px"/>
                    <img src="img/uk.png" width="30px" alt="inglese" height="30px"/>
                </div>
            </div>
            
            <form id="container">
                <div>Accedi</div><br/>
                <input type="text" name="email" id="input-email" value="email"/><br/>
                <input type="password" name="password" id="input-password" value="password"/><br/>
                <div></div><br/>
                <input type="submit" name="submit" id="input-submit" value="Login"/><br/>
            </form>

            <br style="clear:both"/>
        </div>
        <footer>
            Footer content
        </footer>
    </body>
    <script src="script/ol.js"></script>
    <script src="script/MapAdapter.js"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOcvf5dD1bGJpM58W3ez3NtMmCp_Id17w&callback=loadMap"></script> -->
</html>
