@section css {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/log.css")" />
}

@section script {}

    <form id="container">
        <h2>Log</h2>
        <hr /><br />

        <div id="tab">
            <table id="segn">
                <tr>
                    <th>DataOra</th>
                    <th>Operazione</th>
                    <th>Messaggio</th>
                </tr>
                <tr>
                    <td class="datiSeg">04/12/5555 12:51</td>
                    <td class="datiSeg">Ciaoasfsdagfggawrfsads</td>
                    <td class="datiSeg" style="max-width:200px">
                        <div style="overflow-x:scroll;  white-space:nowrap;">
                            zoooooooooooo oooooooooooo oooooooooooo oooooooooooo oooooooooooo ooooooooooooi!
                        </div>
                    </td>
                </tr>
            </table>
        </div><br />

        <input type="submit" name="chiudi" id="close" value="Chiudi" /><br />

    </form>