@section css{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
   
}

@section script{

}

<form id="container">
    <h2>Banna Utente</h2><br />
    <hr/>
    <input type="text" name="userid" id="input-userid" value="User ID" /><br />
    <textarea id="message" id="input-message" value="Message...">Message...</textarea><br />
    <div></div><br />
    <input type="submit" name="execute" id="input-submit" value="Execute" /><br />
    <input type="submit" name="cancel" id="input-submit" value="Cancel" /><br />
</form>


