@section css {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/annunci.css")" />
}

@section script {}

    <div id="container">

        <div id="annuncio-container" style="margin-top:calc(var(--menu_height) * 2)">
            <div class="annuncio-preview">
                <div class="tipologia">Affitto posto letto in doppia</div>
                <div class="indirizzo">Via del Borgo di San Pietro 85, Bologna, BO, Italy</div>
                <div class="prezzo">Affitto mensile: 260.00 €</div>
                <div class="disponibilità">A partire dal 01/09/2018</div>
                <div class="note">Bla bla bla</div>
                <div class="gallery"></div>
            </div>
            <div class="annuncio-preview">
            </div>
            <div class="annuncio-preview">
            </div>
        </div>

        <input type="button" name="crea" value="Crea annuncio" style="position:fixed;top:calc(var(--menu_height) * 2);left:100px;height:50px;border-radius:20px;border-color:orange;background-color:orange;color:white;font-size:1.2em"/>
        
        <div name="form" style="position:fixed;left:110px;top:calc(var(--menu_height) * 3);text-align:right;font-size:1.2em">
            <span name="mieiAnnunci" />I miei Annunci<span /><input type="radio" name="pref" /><br />
            <span name="preferiti" />Preferiti<span /><input type="radio" name="pref" /><br />
        </div>
    </div>
