@section css {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
}

@section script {}

<form id="container">
    <h2>Accedi</h2><br />
    <hr/>
    <input type="text" name="email" id="input-email" value="email" /><br />
    <input type="password" name="password" id="input-password" value="password" /><br />
    <div></div><br />
    <input type="submit" name="submit" id="input-submit" value="Login" /><br />
</form>
