@section css{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/profilo.css")" />
}

@section script{}

    <form id="container">
        <h2 id="title">ProfiloAzienda</h2>
        <hr />

        <div>
            <div class="section">Nome: <b>TempoCasa</b> </div>
            <div class="section">E-mail: <b>tempocasa@gmail.com</b> </div>
            <ul id="contatti">Contatti:
                <li><b>1234567819</b></li>
                <li><b>7896541236</b></li>
            </ul><br />
       </div>
        I miei annunci:<br />
        <span class="mioannuncio"></span>
        <span class="mioannuncio"></span>
        <span class="mioannuncio"></span>
       
        <input type="submit" name="chiudi" id="close" value="Chiudi" /><br />
        
    </form>
