@section css {
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/segnalazioni.css")" />
}

@section script {}

    <form id="container">
        <h2>Segnalazioni</h2>
        <hr /><br />

        <div id="report">
            <ul id="ulid">
                <li>Data</li>
                <li>Ora</li>
                <li>Annuncio</li>
                <li>Utente</li>
                <li>Messaggio</li>
            </ul>
            <hr /><br /><br />
        </div>
        <br /><br />

        <input type="submit" name="chiudi" id="close" value="Chiudi" /><br />

    </form>