:root {
    --container_width: calc(100% - 450px);
    --preview_height: 300px;
}

#annuncio-container {
    float: right;
    width: var(--container_width);
    margin: 30px;
}



.annuncio-preview {
    width: 100%;
    height: var(--preview_height);
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 0.9em;
}

#annuncio {
    width: 90%;
    margin: auto;
    margin-top: calc(var(--menu_height) * 2);
    margin-bottom: calc(var(--menu_height) * 2);
    background-color: ivory;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgb(124, 107, 73);
}

#annuncio #foto-container {
    margin: 100px;
    padding-top: 100px;
}

#annuncio .section {
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 10px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 0.9em;
}

#annuncio textarea {
    resize: none;
    width: 70%;
    height: 200px;
}

#annuncio button {
    font-size: 1.5em;
    float: right;
    margin: 50px;
    background-color: var(--menu_bg_color);
    color: white;
    border: 1px solid rgb(220, 220, 220);
    padding: 15px;
    transition: 0.2s;
    border-radius: 20px;
}

#annuncio button:hover {
    box-shadow: 0 0 5px 1px var(--menu_bg_color);
}