#privato, #azienda {
    text-align:right;
}

#azienda{
    display:none;
}

#container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 0.9em;
}