#container{
    font-size: 1em;
    width: 50%;
}

#report{
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    background-color: rgba(0, 145, 0, 0.5);
}

#ulid{
    list-style-type:none;
}

#ulid>li{
    display:inline;
    margin:45px;
}

#close{
    float:right;
}

/*css dei log*/
#ulidl{
    background-color: cadetblue;
}

#ulidl > li {
    display: inline;
    margin: 45px;
}