@model ModificaInfoProfiloValidator
@model Annuncio 

@section css{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/form.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/modificaProfilo.css")" />
}

@section script{
    <script src="@Url.Content("~/script/modificaProfilo.js")"></script>
}

<div id="container">
    <h2 id="title">Modifica Profilo</h2>
    <hr />

    <div>
        <form asp-controller="GestioneProfilo" asp-action="ModificaInfo">
            <div class="section">Nome Azienda:<input type="text" readonly asp-for="Nome" value="Tempo Casa" onchange="ShowButton()" /></div>

            <div class="section">Partita Iva:<input type="text" readonly asp-for="PartitaIva" value="partitaiva" onchange="ShowButton()" /></div>

            <div class="section">Password:<input type="password" asp-for="Password" value="" onchange="ShowButton()" /></div>
  
            <div class="section">Conferma Password:<input type="password" asp-for="ConfermaPassword" value="" onchange="ShowButton()" /></div><br />
            <br />
        </form>

        <fieldset>
            <legend>Contatti</legend>
            E-mail: <a id="mail" href=@mailto:tempocasa@gmail.com">tempocasa@gmail.com</a><br />
            Telefono: <a class="phone" href="tel:3177594940">317.759.4940</a><br />
            Telefono: <a class="phone" href="tel:3177594940">317.759.4940</a><br />
        </fieldset><br />
    </div>

    <input type="submit" name="cancel" id="applica" value="Applica" style="display:none; background-color:rgb(255, 153, 0);" />
    <input type="submit" name="cancel" id="input-submit" value="Annulla" /><br />
</div>



